<% unless params[:q].nil? %>
  You searched for <%= content_tag :em, params[:q] %> 
<% end %>

<% if @results.empty? %>
 <%= content_tag :h4, "No results" %>
<% else %>
  <table class="table table-striped table-condensed">
    <tr>
      <th>Title</th>
      <th>Acquisition Type</th>
      <th>Resource Type</th>
    </tr>
    <% @results.each do |r| %>
      <tr>
        <td><%= r.title  %></td>
        <td><%= r.acquisitionType %></td>
        <td><%= r.resourceType %></td>
      </tr>
    <% end %>
  </table>
<% end %>
